<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="51200" enable ="true" executionTimeout="45"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
  </connectionStrings>

  <appSettings>
  </appSettings>
</configuration>